{%extends 'home.html'%}
{%block extra_css%}
<link rel="stylesheet" href="{{url_for('static',filename='chest.css')}}">
{%endblock%}
{%block body%}
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/pullup.jpg" alt="">
        </div>
        <div class="text">
            Pull Ups
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/deadlift.jpg" alt="">
        </div>
        <div class="text">
            Dead Lift
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/letpulldown.jpg" alt="">
        </div>
        <div class="text">
            Let Pull Down
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/row_cable.jpg" alt="">
        </div>
        <div class="text">
            Seated Row Cable
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/t-bar.jpg" alt="">
        </div>
        <div class="text">
            T-bar Row 
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/bent-over.jpg" alt="">
        </div>
        <div class="text">
            Barbell Bent Over
        </div>
    </div>
</div>
<div class="button-container">
    <a href="log_workout"> 
    <button class="circle-button">
        <span class="arrow">&larr;</span>
    </button>
    </a>
</div>
{%endblock%}