{% extends 'home.html'%}
{%block extra_css%}
<link rel="stylesheet" href="{{url_for('static',filename='chest.css')}}">
{%endblock%}
{%block body%}
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/Bench_chest.jpg" alt="">
        </div>
        <div class="text">
            Bench press
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/incline-barbell-bench-press.jpg" alt="">
        </div>
        <div class="text">
            incline bench press
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/decline_bench.jpg" alt="">
        </div>
        <div class="text">
            Decline Bench Press
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/fly.jpeg" alt="">
        </div>
        <div class="text">
            Machine chest Fly
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/pushup.jpeg" alt="">
        </div>
        <div class="text">
            Push Up
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/knee_pushup.jpg" alt="">
        </div>
        <div class="text">
            Knee Push Up
        </div>
    </div>
</div>
<div class="button-container">
    <a href="log_workout"> 
    <button class="circle-button">
        <span class="arrow">&larr;</span>
    </button>
    </a>
</div>
{%endblock%}