{%extends 'home.html'%}
{%block extra_css%}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{%endblock%}
{%block body%}

<div class="home-container">
    <div class="box workout-plan">
        <a href="{{url_for('log_workout')}}"><h2>Workout Plan</h2></a>
        <p>Your customized workout plan goes here.</p>
    </div>
    <div class="box diet-plan">
        <a href="{{url_for('nutrition')}}"><h2>Diet Plan</h2></a>
        <p>Your personalized diet plan goes here.</p>
    </div>
    <div class="box bmi-report">
        <a href="{{url_for('bmi')}}"><h2>BMI Report</h2></a>
        <p>Your BMI report will be displayed here.</p>
    </div>
    <div class="box fat-percentage">
        <a href="{{url_for('fat')}}"><h2>Fat Percentage</h2></a>
        <p>Your body fat percentage is displayed here.</p>
    </div>
</div>
{%endblock%}