{%extends 'home.html'%}
{%block extra_css%}
<link rel="stylesheet" href="{{url_for('static',filename='chest.css')}}">
{%endblock%}
{%block body%}
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/sumo-squat.jpg" alt="">
        </div>
        <div class="text">
            Sumo Squat
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/squat.jpg" alt="">
        </div>
        <div class="text">
            Squat
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/legpress.jpg" alt="">
        </div>
        <div class="text">
            Leg Press
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/leg_extension.jpg" alt="">
        </div>
        <div class="text">
            Leg Extension
        </div>
    </div>
</div>
<div class="main">
    <div class="chest">
        <div>
            <img src="static/img/lying_leg_curl.jpg" alt="">
        </div>
        <div class="text">
            Lying Leg Curl
        </div>
    </div>
    <div class="chest">
        <div>
            <img src="static/img/calf.jpg" alt="">
        </div>
        <div class="text">
            Calf Raises
        </div>
    </div>
</div>
<div class="button-container">
    <a href="log_workout"> 
    <button class="circle-button">
        <span class="arrow">&larr;</span>
    </button>
    </a>
</div>
{%endblock%}